@model AlunoViewModel

@{
    ViewData["Title"] = "Delete";
}

<main role="main">
    <div class="container col-sm-6" style="margin-top: 20px;">
        <h1>Detalhes do Aluno</h1>
        <h3 class="text-danger">Deseja realmente deletar o cadastro deste Aluno?</h3>
        <hr />
        <section class="container" style="margin-top: 10px">
            <div class="row">
                <aside>
                    <div class="card">
                        <article class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.AlunoId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.AlunoId)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.NumeroCertidaoNova)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.NumeroCertidaoNova)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CPF)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CPF)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ResponsavelId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ResponsavelId)
                                </dd>
                            </dl>
                        </article>
                    </div>
                </aside>
            </div>
        </section>
        <form asp-controller="Alunos" asp-action="Delete" method="post">
            <input type="submit" value="Deletar" class="btn btn-danger mt-1" />
            <a class="float-right btn btn-outline-dark mt-1" asp-action="Index">Voltar</a>
        </form>
    </div>
</main>