@model IEnumerable<ResponsavelViewModel>

@{
    ViewData["Title"] = "Index";
}

<main role="main">
    <div class="container" style="margin-top: 20px;">
        <h1>Responsáveis</h1>

        <p>
            <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Incluir Novo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ResponsavelId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CPF)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResponsavelId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataNascimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPF)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Remover", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
